
<html>
<head>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/2-col-portfolio.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!-- Plotly.js -->
  <script src="/static/js/plotly-latest.min.js"></script>
  <!-- Numeric JS -->
  <script src="/static/js/numeric.min.js"></script>
</head>

<body>


  <div id="myDiv" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
var data = [{
  values: {{ .Vals }},
  labels: {{ .Names }},
  type: 'pie'
}];

var layout = {
  height: 380,
  width: 480
};

Plotly.newPlot('myDiv', data, layout);
  </script>
</body>

</html>
