<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8/>
    <title>PARSIN</title>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/static/img/favicon.ico"/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>

    <!-- Bootstrap and JQuery JS -->
    <script src="/static/js/jquery-2.0.0.min.js"></script>
    <script src='/static/js/bootstrap.js'></script>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/2-col-portfolio.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">


    <link href="/static/css/leaflet.css" rel="stylesheet">
    <link href="/static/css/leaflet.usermarker.css" rel="stylesheet">
    <script src='/static/js/leaflet.js'></script>
    <script src='/static/js/leaflet.usermarker.js'></script>
    <script src='/static/js/Leaflet.Marker.SlideTo.js'></script>

    <script src="/static/js/sweetalert.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3.tip.v0.6.3.js"></script>

    <link href="/static/css/sweetalert2.css" rel="stylesheet"/>
    <script src="/static/js/sweetalert2.js"></script>

    <link href="/static/css/izitoast/iziToast.css" rel="stylesheet">
    <script src="/static/js/izitoast/iziToast.js"></script>

    <link href="/static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap-toggle.min.js"></script>

    <link href="/static/css/plugins/jquery-ui-slider/jquery-ui.min.css" rel="stylesheet">
    <script src="/static/js/plugins/jquery-ui-slider/jquery-ui.min.js"></script>

    <link href="/static/css/plugins/jquery-ui-slider/jquery-ui-slider-pips.min.css" rel="stylesheet">
    <script src="/static/js/plugins/jquery-ui-slider/jquery-ui-slider-pips.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <style>
        #main-map {
            height: 500px;
        }

        #settings-container {
            overflow: scroll;
        }
    </style>
</head>

<body>

{{ template "navbar" . }}

<!-- Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Test Valid Track Details
                <small>view test-valid track details on map</small>
            </h2>
        </div>
    </div>

    <!--<div class="well">-->
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="panel panel-primary" id="map-panel">
                <div class="panel-heading">
                    Map
                </div>
                <div class="panel-body">
                    <label>Selected Time: <label id="selected-time"></label></label>
                    <div class="time-select-slider"></div>
                </div>
                <div class="panel-body">
                    <div id="main-map"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="panel panel-success" id="settings-list-panel">
                <div class="panel-heading">
                    Settings
                </div>
                <div class="panel-body" id="settings-container">
                    <div class="bs-callout bs-callout-info row" style="margin: 0 0 15px;">
                        <div class="col-md-12">
                            <a href="#true-location-file" data-toggle="collapse"><h4
                                    style="text-decoration: underline;">
                                True Location File</h4></a>

                            <div id="true-location-file" class="collapse in">
                                <div class="form-group">
                                    <label><input id="repredict_check" type="checkbox">Repredict test-valid
                                        tracks</label>
                                </div>
                                <div class="form-group">
                                    <button onclick="getTestValidTrackMap()" class="btn btn-info btn-sm btn-block">
                                        Get test-valid tracks details
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button onclick="delTestValidTracks()"
                                            class="btn btn-danger btn-sm btn-block">
                                        Delete test-valid tracks
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--</div>-->


</div>

<script type="application/javascript">


    $('#main-map').css('height', $(window.top).height() - 275);
    $('#settings-container').css('height', $(window.top).height() - 245);
    var map = L.map('main-map', {
        crs: L.CRS.Simple,
        minZoom: -100,
//        maxZoom: 4
    });
    var bounds = [[-1 * ('{{.MapHeight}}' / 2), -1 * ('{{.MapWidth}}' / 2)], [('{{.MapHeight}}' / 2), ('{{.MapWidth}}' / 2)]];
    var image = L.imageOverlay('{{.MapPath}}', bounds).addTo(map);
    map.setView([0, 0], -2);

    lineLayer = L.featureGroup();
    map.addLayer(lineLayer);

    var guessMarkers = {};
    var fpLocMarkersLoc = {};
    var fpLocMarkers = {};
    var fpLocMarkerCount = {};
    var toggleGuessMarkers = true;

    var fpData = {};
    var testvalidtracks = {};
    var testValidTrackMap = {};
    var tvTrackTimes = [];
    var timestamp2formated = {};

    var pattern = /([\d.-]*)[\s]*,[\s]*([\d.-]*)/;

    initializeSlider();
    getTestValidTrackMap();

    // function definitions:
    function getTestValidTrackMap() {
        clearHistory();
        getTestValidTracksDetails();
    }

    function initializeSlider() {
        $('.time-select-slider').slider({
            min: tvTrackTimes[0],
            max: tvTrackTimes[tvTrackTimes.length - 1],
        });
    }

    function getTestValidTracksDetails() {
        var items = [];
        var locations = [];

        $.getJSON("/getTestValidTracksDetails?group={{ .Group }}&repredict=" + ($('#repredict_check').is(":checked") ? "true" : "false"), function (data) {
            // console.log(data)
            if (!data.success) {
                iziToast.error({
                    title: "Error",
                    message: data.message,
                });
            } else {
                testvalidtracks = data.testvalidtracks;
                fpData = data.fpdata;
                // console.log(data.testvalidtracks);
                $.each(data.testvalidtracks, function (key, testValidTrack) {
                    // console.log(val.truelocation)
                    // console.log(testValidTrack.userposition.time);
                    tvTrackTimes.push(testValidTrack.userposition.time);

                    testValidTrackMap[testValidTrack.userposition.time] = testValidTrack;
                    /*
                                        let trueloc = pattern.exec(testValidTrack.truelocation);
                                        let knnloc = pattern.exec(testValidTrack.userposition.knnguess);

                                        if (trueloc && trueloc[1] && trueloc[2]) {
                                            locations.push(trueloc);
                                            items.push("<tr class='bg-info'><td>" + trueloc[1] + "</td><td>" + trueloc[2] + "</td></tr>");
                                            // console.log(match)
                                            // createGuessMarker(key, match);
                                            createGuessMarker(testValidTrack.truelocation, trueloc);

                                            // trueLocMarkers[key]=match;
                                            algoGuessLocations["KNN"].push([trueloc, knnloc]);

                                        } else {
                                            items.push("<tr class='bg-info'><td colspan='2' class='text-center'> NO DATA </td></tr>");
                                        }
                    */

                });

                calculateTimeSlider();
                // for (var i = 0; i < locations.length - 1; i++) {
                //     Line(locations[i][1], locations[i][2], locations[i + 1][1], locations[i + 1][2])
                // }


                /*                $("#true-location-table").find("tbody").remove();
                                console.log(items);
                                $("<tbody/>", {
                                    "class": "tab-content",
                                    html: items.join("")
                                }).appendTo("#true-location-table");
                                $("#show-details-link").find("a").remove();//remove show rss details link
                                $("<a/>", {
                                    "target": "_blank",
                                    "onclick": "window.open('" + "/getTestValidTracks?group={{ .Group }}','pagename','resizable,height=420,width=1000'); return false;",
                    html: "See TestValidTracks details"
                }).appendTo("#show-details-link");*/
            }
        });
    }

    function clearHistory() {
        for (var marker in guessMarkers) {
            map.removeLayer(guessMarkers[marker]);
        }
        for (var marker in fpLocMarkers) {
            map.removeLayer(fpLocMarkers[marker]);
        }
        guessMarkers = {};
        fpLocMarkersLoc = {};
        fpLocMarkerCount = {};
        fpLocMarkers = {};
    }

    function createGuessMarker(match) {
        guessMarkers[match[0]] = L.marker([match[1], match[2]], {
            title: match[0],
            smallIcon: true
        }).bindPopup(match[0]).addTo(map);
    }

    function createfpLocMarker(match, weigth) {
        weigth = weigth.toFixed(2);
        var markerIndex = match[0] + ", Weight:" + weigth;
        var count = 0;
        if (markerIndex in fpLocMarkers) {
            count = fpLocMarkerCount[markerIndex];
            count++
            fpLocMarkerCount[markerIndex] = count;
            fpLocMarkers[markerIndex].setPopupContent(markerIndex + ", count=" + count);
        } else {
            count = 1;
            fpLocMarkerCount[markerIndex] = count;
            randomMarkerDist = getRandomInt(-15, 15);
            fpLocMarkers[markerIndex] = L.marker([match[1] + randomMarkerDist, match[2] + randomMarkerDist], {
                icon: redIcon,
                title: match[0],
                smallIcon: true
            }).bindPopup(markerIndex + ", count=" + count).addTo(map);
        }


    }


    var redIcon = L.icon({
        iconUrl: '/static/css/images/marker-icon-red.png',
        shadowUrl: '/static/css/images/marker-shadow.png',

        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        tooltipAnchor: [16, -28],
        shadowSize: [41, 41]
    });

    function calculateTimeSlider() {
        var minTimestamp = tvTrackTimes[0];
        var maxTimestamp = tvTrackTimes[0];
        var formatedTimeList = [];
        tvTrackTimes.sort();
        tvTrackTimes.forEach(function (timestamp) {
            // map between timestamp and formated timestamp(hour:min:sec)

            /*  formatedTime = timestamp2FormatedTime(timestamp);
              if (formatedTime == undefined ){ // not exists in timestamp2formated
                  formatedTime = timestamp2FormatedTime(timestamp);
              }else{
                  formatedTime = formatedTime+":"+getMillisecond(timestamp);
              }
              timestamp2formated[formatedTime] = timestamp;
              formatedTimeList.push(formatedTime);*/
            timestamp2formated[timestamp] = timestamp2FormatedTime(timestamp)

        });

        // console.log(timestamp2formated);

        $('.time-select-slider').slider({
            min: tvTrackTimes[0],
            max: tvTrackTimes[tvTrackTimes.length - 1],
        });


        /*        $('.time-select-slider').slider('pips', {
                    first: minTimestamp,
                    last: maxTimestamp,
                    rest: 'pip',
                    labels: [100,200,300],
                    prefix: "",
                    suffix: ""
            });*/

        /*
        $('.time-select-slider').slider('float', {
            handle: true,
            pips: true,
            labels: timestamp2formated,
            prefix: "",
            suffix: ""
        });
*/

        /*
                $(".time-select-slider").slider({
                    value: 1,
                    min: 0,
                    max: formatedTimeList.length,
                    step: 1,
                    slide: function(event, ui) {
                        $("#amount").val(formatedTimeList[ui.value]);
                    }
                });
                $("#amount").val(formatedTimeList[$("#slider").slider("value")]);
        */
        $(".time-select-slider").on("slide", function (event, ui) {
            var adjTimestamp = getAdjacentTimestamp(tvTrackTimes, ui.value);
            $("#selected-time").text(timestamp2formated[adjTimestamp]);

            // Show fp and near fp data
            clearHistory();
            var testValidTrack = testValidTrackMap[adjTimestamp];
            var guessLoc = testValidTrack.userposition.location;
            var guessLocSplited = pattern.exec(guessLoc);
            if (guessLocSplited && guessLocSplited[1] && guessLocSplited[2]) {
                createGuessMarker(guessLocSplited);
            }

            // set fp locations
            var knnData = testValidTrack.userposition.knndata;
            // console.log(knnData)
            for (var fpTime in knnData) {
                var fpLoc = fpData[fpTime].location;
                var fpLocSplited = pattern.exec(fpLoc);
                if (fpLocSplited && fpLocSplited[1] && fpLocSplited[2]) {
                    createfpLocMarker(fpLocSplited, knnData[fpTime]);
                }
            }


        });

    }

    function getAdjacentTimestamp(timestampList, mainTimestamp) {
        var lessUntil = 0;
        var resultTimesstamp = 0;
        for (let timestamp of timestampList) {
            if (mainTimestamp > timestamp) {
                lessUntil++;
            } else {
                if (lessUntil != 0) {
                    resultTimesstamp = timestamp;
                    break;
                } else {
                    console.log("There is problem to get timestamp from timestamp slider");
                }
            }
        }

        return resultTimesstamp;
    }

    function timestamp2FormatedTime(timestamp) {
        return new Date(timestamp * 1e3).toISOString().slice(-13, -5);
    }

    /* function getMillisecond(timestamp){
         return new Date(timestamp * 1e3).getMilliseconds().toString()
     }*/
    function delTestValidTracks() {
        user = $('#user').val();
        swal({
                    title: "Delete test-valid tracks",
                    text: "Are you sure you want to delete all of test-valid tracks ",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete them!",
                    cancelButtonText: "No, cancel pls!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var req = $.ajax({
                            method: "DELETE",
                            url: "/delTestValidTracks" + '?' + $.param({"group": "{{ .Group }}"})
                        });
                        req.done(function (data) {
                            console.log(data)
                            if (data['success']) {
                                swal("Deleted!", data['message'], "success");
                                location.reload()
                            } else {
                                swal("Something went wrong.", data['message'], "error");
                            }
                        });
                        req.fail(function (data) {
                            swal("Sorry", data['message'], "error");
                        });
                    } else {
                        swal("Cancelled", "Your data is safe :)", "error");
                    }
                });

    }

    function getRandomInt(begin, end) {
        return Math.round(Math.random() * (end - begin) + begin)
    }
</script>
</body>

</html>
